body{
font-family:Arial;
background:#e9e6e4;
}

.chat{
background:white;
padding:10px;
margin:10px;
border-radius:10px;
width:300px;
}

.from{
font-weight:bold;
color:#075e54;
}

.msg{
background:#dcf8c6;
padding:8px;
border-radius:5px;
}