<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello <%= name %></h1>

    <h1>Hello <%= user %></h1>
    <p>Your age is <%= age %></p>

    <h1>This the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, eaque quam earum fugiat deleniti maiores eligendi perferendis cupiditate illum. Nostrum ab quaerat molestiae maiores saepe quidem, totam animi magni nobis!
    Assumenda saepe nesciunt mollitia ipsum officia. Commodi perspiciatis laudantium eos obcaecati quam architecto maxime eaque aperiam. Id minima mollitia enim quia omnis? Illum culpa quaerat necessitatibus, inventore eius recusandae? Nostrum.
    Consectetur totam ab ducimus deserunt ratione, cupiditate laudantium ad explicabo tenetur cumque esse fugit excepturi minima expedita iusto eligendi fuga mollitia nihil eaque neque ipsa corrupti exercitationem nesciunt saepe. Aspernatur.
    Ad optio ullam labore illum, obcaecati veniam doloremque, odio aperiam nihil accusantium voluptatem alias. Quam sunt voluptates obcaecati nam architecto adipisci, maiores consequuntur ex aspernatur rem necessitatibus, quia iste ad?
    Aperiam saepe dignissimos quas. Consequuntur tenetur tempore harum corrupti culpa provident autem atque sapiente modi numquam voluptatum unde hic quo, deserunt velit quos ipsam sunt molestias tempora, quasi ut ducimus!</p>
    <button>Click me!</button>

</body>
</html>