<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop & Conditional Statement</title>
</head>
<body>
    <h2>Student name:</h2>
    <ul>
        <% students.forEach(student => { %>
            <li><%= student %></li>
        <% }) %>
    </ul>

</body>
</html>