<%layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <% for(let listing of allListings){ %>
        <div class="card" style="width: 18rem;">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listings_img">

            <div class="card-body">
                <p class="card-text">
                    <%= listing.title %> <br>
                    <span>&#2547;</span><%=listing.price.toLocaleString("en-In") %>/night
                </p>
            </div>
        </div>

    <% } %>

</body>

