<%layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListings){ %>
        <div class="card col" >
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listings_img" style="height:20rem;">

            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b> <br>
                    <span>&#2547;</span><%=listing.price.toLocaleString("en-In") %>/night
                </p>
            </div>
        </div>
        <% } %>
    </div>

    

</body>

