<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-7 offset-3">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-triangle-fill text-danger me-2" style="font-size: 1.8rem"></i>
            <h4 class="mb-0"><%= message %></h4>
        </div>
    </div>
</div>